﻿.title {
    text-align: center;
    font-size: 60px;
    color: coral;
}

dd, dt {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-align: center;
}

.backToList {
    text-align: center;
    color: white;
    border-radius: 5px 5px;
}

.saveBtn {
    text-align: center;
}

.backToList a {
    background-color: coral;
    border-radius: 5px 5px;
    font-size: 20px;
}
.backToList a:hover {
    background-color: wheat;
}
.btn-danger:hover {
    border-color:yellow;
    background-color: darkred;
}

.saveBtnLabel {
    margin-top: 10px;
}

html {
    font-size: 16px;
    min-height: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    margin: 0px;
    background-image: url(../Assets/bg.jpg);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

nav {
    text-shadow: 2px 2px #1b6ec2;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.justify-content-center {
    text-align: center;
}

.row {
    text-align: center;
}

.deleteTitle{
    color: red;
}

.users-delete {
    color: red;
    text-align: center;
}

.centerData {
    text-align: center;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card-title {
    color: coral;
}

.detailsCategory {
    color: orangered;
}

.songName {
    color: darkred;
}