body {
    margin: 0;
    padding: 0;
}

.welcome {
    margin: 0;
    padding: 0;
    width: 100%;
}

.pageVisual {
    margin: 0;
    padding: 0;
    width: 100%;
}

.frontVideo {
    width: 100%;
    margin-bottom: 1%;
}

video {
    object-fit: fill;
}

#bingMapBranches {
    width: 100%;
}

@font-face {
    font-family: myFirstFont;
    src: url(../Assets/Raleway-VariableFont_wght.ttf);
}

.welcome {
    font-family: myFirstFont;
    text-align: center;
    color: white;
}

.welcome h1 {
    font-size: 80px;
}

.apolloText {
    color: coral;
}