.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

body {
    color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    border: 2px solid white;
    border-radius: 20px 20px;
    margin-left: 277px;
    margin-right: 277px;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.title {
    margin-bottom: 1rem;
}

tbody {
    width: 100%;
}

.table {
    color: wheat;
    text-align: center;
}