.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.title {
    margin-bottom: 1rem;
}

#songsCategoryDevision {
    margin: 0px;
}

#artistsPerGenre {
    margin: 0px;
}

.col {
    text-align: center
}