.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.title {
    margin-bottom: 1rem;
    color: coral;
    font-size: 60px;
}

#songsCategoryDevision {
    margin: 0px;
}

#artistsPerGenre {
    margin: 0px;
}

.col {
    text-align: center
}

h4 {
    color: white;
}

.tooltip {
    color: white;
}

#noData {
    text-align: center;
}