* {
    margin: 0;
    padding: 0;
}

#updates {
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}

.card {
    width: 200px;
    margin: 10px;
    color: white;
    background-color: #090A11;
    transition: background-color 0.3s ease;
    border: none;
}

.card:hover {
    background-color: #363C66;
}

.card-body {
    padding: 0;
}

.card-title {
    color: coral;
}

.center {
    text-align: center;
}

a {
    color: white;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.title {
    color: white;
    font-size: 60px;
}

.titleRe {
    color: coral;
}

.artists {
    color: orangered;
}