@model Apollo.Models.Biography

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Biography</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Artist" class="control-label"></label>
                <select asp-for="ArtistId" class ="form-control" asp-items="@ViewBag.ArtistId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EarlyLife" class="control-label"></label>
                <input asp-for="EarlyLife" class="form-control" />
                <span asp-validation-for="EarlyLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Career" class="control-label"></label>
                <input asp-for="Career" class="form-control" />
                <span asp-validation-for="Career" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artistry" class="control-label"></label>
                <input asp-for="Artistry" class="form-control" />
                <span asp-validation-for="Artistry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalLife" class="control-label"></label>
                <input asp-for="PersonalLife" class="form-control" />
                <span asp-validation-for="PersonalLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

