@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <div class="container">
        <h1 class="">Welcome To <small class="font-italic text-info">Apollo</small></h1>
    </div>
    <section class="py-5 text-center container">



        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">

                <canvas id="canvas" width="350" height="350"></canvas>
                <img id="Apollo" src=@Url.Content("~/Assets/Apollo.png") hidden class="img-fluid rounded-circle" alt="..." />

            </div>
        </div>
    </section>
    <div class="embed-responsive embed-responsive-16by9 ">
        <video class="video-fluid z-depth-1" loop controls autoplay>
            <source src=@Url.Content("~/Assets/frontVideo.mp4") type="video/mp4" />
        </video>
    </div>
    <div id="spotifyTimeline">

    </div>
</body>

</html>
@section Scripts {
    <script type="text/javascript">var logopath = "@Url.Content("~/Assets/Apollo.png")";</script>
    <script src="~/Scripts/home.js"></script>
}
