@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<head>
    <link href="~/Styles/error.css" rel="stylesheet" />
</head>

<div class="errorCenterBlock justify-content-center">
    <img src="~/Assets/404_not_found.png" />
    <h4>redirecting back...</h4>
</div>


@section Scripts {
    <script src="~/Scripts/error.js"></script>
}
