<head>
    <title>Search</title>
    <link href="~/Styles/updates.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1 class="title center">New <span class="titleRe">Releases</span></h1>
    <div class="container" id="updates"></div>
</body>

@section Scripts {
    <script src="~/Scripts/updates.js"></script>
}
