<head>
    <title>Search</title>
    <link href="~/Styles/search.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg text-center">
                <h2 class=" text-info">SEARCH FOR YOUR FAVORITE ARTISTS, SONGS AND ALBUMS</h2>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm text-center">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">
                            <i class="bi-search" role="img" aria-label="GitHub"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" id="searchBox">
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div id="content" class="container">
        </div>
        <div class="row mt-lg-5">
            <div class="col-lg text-center">
                <img src=@Url.Content("~/Assets/Apollo.png") id="apolloIcon">
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script src="~/Scripts/search.js"></script>
}
