@model Apollo.Models.Branch

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link href="~/Styles/edit.css" rel="stylesheet" />
</head>

<div class="title justify-content-center">
    <h1>Edit Branch</h1>
</div>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AddressName" class="control-label"></label>
                <input asp-for="AddressName" class="form-control" />
                <span asp-validation-for="AddressName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coordinate" class="control-label"></label>
                <input asp-for="Coordinate" class="form-control" />
                <span asp-validation-for="Coordinate" class="text-danger"></span>
            </div>
            <div class="saveBtn form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="backToList">
    <a asp-action="Index">Back to List</a>
</div>

